html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
  }
a{
    transition: all 1s;
}
a:hover{
    transition: all 1s;
    color: rgb(126, 240, 248);

}
.overlay {
    position: absolute;
    top: 75px;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
    z-index: 1;
}
.show-overlay {
    display: block;
}
.open-cart{
    display: flex;
    right: 0px;
    top: 74px;
    transition: all 1s;
}
.enter-btn:hover{
    color: rgb(253, 253, 253);
    background-color: rgb(0, 0, 0);
    -webkit-box-shadow: inset 0px 0px 51px 13px #156a6a;
    -moz-box-shadow: inset 0px 0px 51px 13px #156a6a;
    box-shadow: inset 0px 0px 51px 13px #156a6a;
    transition: all 1s;
  }


