@media (max-width: 1201px) {
    .info-cont{
        border-radius: 0px;
    }
    #catalogo{
        border-radius: 0px;
    }
    .catalogo-divisor{
        border-radius: 0px;
    }
}
@media (max-width: 900px){

    .hero-text{
        width: 80%;
        text-align: center;
    }
    .navbar-list{
        top: -80px;
        right: 0px;
        position: absolute;
        height: 74px;
        gap: 20px;
        width: 100%;
        background-color: rgba(0, 8, 3, 0.486);
        border-bottom: 1px solid rgb(61, 61, 61);
        border-top: 1px solid rgb(31, 31, 31);
        justify-content: space-around;
        z-index: 2;
        

    }
    .open-menu{
   
        right: 0px;
        top: 74px;
        transition: all 1s;
    }
    .menuh{
        display: flex;
        margin-left: 10px;
    }
}
@media (max-width: 800px){
    .cont-support{
        flex-direction: column;
        align-items: flex-end;
    }
    .support{
        align-items: flex-end;
    }
    .footer-cont{
        padding-bottom: 5px;
    }
}
@media (max-width: 710px){
    .hero-text{
        width: 90%;
        text-align: center;
    }
    .hero-info{
        text-align: center;
    }
    .hero-text>h2{
        display: none;
    }
}
@media (max-width: 558px){
    .terminos>p:first-child{
        text-align: end;
    }
    .hero-title-bot{
        width: 100%;
    }
    .hero-title-top{
        width: 100%;
    }
}
