*{
    color: rgb(231, 255, 255);
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: var(--text);
}
:root{
    --background: rgba(0, 0, 0, 0.116);
    --text: rgb(214, 235, 255);
    --title: linear-gradient(175deg, rgb(0, 219, 114) 10%, rgb(0, 170, 80) 47%, rgba(0,255,214,1) 99%);
    --oferta: rgb(21, 173, 67);
}
body{
 
    width: 100%;
    background: rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.background{
    background-color: var(--background);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.coso{
    padding-top: 500px;
    height: 1000px;
    width: 100%;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* HEADER ---------------------------------------------------------------------------------------------------------------------------------------*/
header{
    width: 100%;
    background-color: rgba(0, 8, 3, 0.719);
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-cont{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    height: 74px;
    
    width: 100%;
    max-width: 1200px;
    
}
.header-logo{
    height: 60px;
    display: none;
    
}
.header-logo-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(231, 255, 255);
    
}
.logo-name{

    color: white;
    cursor: default;
    padding-left: 20px;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) ,
     0 0 20px #61eedd , 0 0 20px #080808 , 0 0 30px #61eedd , 0 0 100px #61eedd ;
}
.menuh{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    display: none;
}
.barrita{
    
    background-color: white;
    height: 2px;
    width: 18px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    transition: all 1s;
}
.navbar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.navbar-link{
    font-weight: 600;
}


.cart-icon{
    height: 25px;
    width: 25px;
    background-image: url(./img/carrito-de-compras.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
    
    
}
.cart-bubble{
    top: 0px;
    right: 0px;
    height: 12px;
    width: 10px;
    border-radius: 200px;
    background: red;
    padding: 0px 3px 2px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart{
    position: absolute;
    top: 74px;
    right: -1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 550px;
    width: 400px;
    border-radius: 0px 0px 0px 10px;
    -webkit-box-shadow: inset 0px 0px 81px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 81px 13px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 81px 13px rgba(0,0,0,0.75);
    background-color: rgba(26, 92, 73, 0.815);
    transition: all 1s;
    z-index: 2;
    
}
.cart-cont{
    padding-top: 10px;
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    

}
.cart-item{
    width: 85%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    -webkit-box-shadow: inset 0px 0px 81px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 81px 13px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 81px 13px rgba(0,0,0,0.75);
    background-color: rgba(17, 17, 17, 0.897);
    border: solid 2px rgba(1, 119, 1, 0.712);
    border-radius: 9px;
    padding: 5px 10px;

}
.item-cantidad{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.item-cont{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.item-text>h2{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.cart-item-img{
    width: 33%;
    height: 90px;
    border-radius: 10px;
    border: solid 1px rgba(0, 255, 119, 0.714);
    background: radial-gradient(circle, rgba(42, 68, 61, 0.877) 20%, rgba(33, 37, 0, 0.877) 89%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cart-cont>h2{
    width: 33%;
 
}
.restar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(129, 51, 51, 0.733);
    border: none;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
}
.sumar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(101, 136, 35, 0.733);
    border: none;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
}
.cart-info{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 25%;
    border-top: solid 1px rgba(0, 255, 128, 0.541);
    margin-top: 10px;
    padding-top: 10px;
    gap: 20px;
    padding-bottom: 20px;
}
.cart-total{
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    
}
.cart-info>h2{
    padding-left: 20px;
}
.btn-buy{
    background-color: rgba(72, 240, 148, 0.541);
    height: 40px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-vaciar{
    background-color: transparent;
    border: solid 1px rgba(72, 240, 148, 0.541);
    height: 40px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
/* HERO ---------------------------------------------------------------------------------------------------------------------------------------*/
#hero{
    background: url(./img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 74px;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 30px;


}
.hero-title-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-image: url(./img/header-background-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    


}
.hero-title-top{
    height: 200px;
    display: flex;
    align-items: flex-start;
    font-size: 90px;
    width: 65%;
    font-family: 'Rubik Dirt', cursive;
    font-weight: 100;
}

.hero-title-bot{
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 90px;
    width: 65%;
    font-family: 'Rubik Dirt', cursive;
    font-weight: 100;
}
.hero-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;

}
.hero-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    text-align: start;
    padding-left: 20px;
    text-align: start;

}
.hero-text>h2{
    color: rgb(146, 176, 169);


}


.hero-info{
    color: rgb(146, 176, 169);
    text-align: center;
    width: 55%;
    font-size: 18px;
    

}
.hero-comunity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
   
}
.comunity-img{
    height: 40px;
}
.hero-users{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* INFO ---------------------------------------------------------------------------------------------------------------------------------------*/
#info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.info-cont{
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding: 20px 0px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    
    -webkit-box-shadow: inset 0px 0px 81px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 81px 13px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 81px 13px rgba(0,0,0,0.75);
    background-color: rgba(1, 117, 88, 0.637);
    
}
.info-cont>p{
    width: 80%;
}




/* CATALOGO ---------------------------------------------------------------------------------------------------------------------------------------*/
#catalogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-top: 10px;
    margin-top: 100px;

    border-radius: 9px;
    
   
}
.catalogo-cont-color{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    -webkit-box-shadow: inset 0px 0px 101px 23px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 101px 23px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 101px 23px rgba(0,0,0,0.75);
    background-color: rgb(11, 23, 18);
}
.catalogo-divisor{
    width: 100%;
    height: 94px;
    background: linear-gradient(180deg, rgba(54, 134, 101, 0.832) 0%, rgba(131, 136, 1, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 5px 0px 0px;
    padding-top: 10px;
    
    
}

.catalogo-filtro{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    
}
.filtro-cont{
    display: flex;
    border-radius: 20px;
    border: solid 1px rgb(110, 110, 110);
    padding: 8px 12px;
    -webkit-box-shadow: inset 0px 0px 51px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 51px 3px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 51px 3px rgba(0,0,0,0.75);
    background-color: rgba(29, 29, 29, 0.535);
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.filtro-title{
    
    font-size: 22px;
    font-weight: 1000;
    color: rgb(202, 226, 218);
}
.filter{
    cursor: pointer;
    font-weight: 800;
    color: rgb(208, 208, 208);
    cursor: pointer;
    padding: 2px 8px 3px 8px;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 10px;
    
}
.categoria-epica{
    color: rgb(147, 2, 237);
}
.categoria-comun{
    color: rgb(23, 136, 0);
}
.categoria-legendaria{
    color: #b99e03;
}
.catalogo-cont{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1000px;
}
.card-cont-comun{
    
    
    width: 250px;
    height: 300px;
    border: solid 2px  rgb(1, 185, 93);
    border-radius: 6px;
    background: radial-gradient(circle, rgba(0, 54, 28, 0.877) 20%, rgba(0, 37, 27, 0.877) 89%);
    
}
.card-img{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.card-title-comun{
    padding-top: 20px;
    font-family: 'Acme', sans-serif;

}

.card-buy-comun{
    width: 100%;
    
    background: linear-gradient(175deg, rgba(0, 219, 113, 0.329) 10%, rgba(0, 170, 79, 0.295) 97%) ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 2px  rgb(0, 102, 51);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttom-buy{
    padding: 10px 10px;
    -webkit-box-shadow: inset 0px 0px 31px 1px rgba(8, 131, 90, 0.75);
    -moz-box-shadow: inset 0px 0px 31px 1px rgba(8, 131, 90, 0.75);
    box-shadow: inset 0px 0px 31px 1px rgba(8, 131, 90, 0.75);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: transparent;
    color: rgb(174, 252, 235);
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
/*     background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text; */
}
.buttom-buy>h2{
    font-family: 'Lilita One', cursive;
    color: transparent;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}
.price-comun{
    font-family: 'Lilita One', cursive;
    color: rgb(184, 250, 190);
    font-size: 22px;
    font-weight: 400;
}
/* legendaria */
.card-cont-legend{
    
    
    width: 250px;
    height: 300px;
    border: solid 2px  rgb(250, 225, 0);
    border-radius: 6px;
    background: radial-gradient(circle, rgba(108, 116, 0, 0.877) 20%, rgba(33, 37, 0, 0.877) 89%);
    
}
.card-title-legend{
    padding-top: 20px;
    font-family: 'Acme', sans-serif;

}
.card-buy-legend{
    width: 100%;
    justify-content: space-around;

    background: linear-gradient(175deg, rgba(215, 219, 0, 0.432) 10%, rgba(170, 167, 0, 0.541) 97%) ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 2px  rgb(146, 132, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.price-legend{
    font-family: 'Lilita One', cursive;
    color: rgb(240, 250, 184);
    font-size: 22px;
    font-weight: 400;
}
/* epico */
.card-cont-epica{
    
    
    width: 250px;
    height: 300px;
    border: solid 2px  rgb(136, 0, 255);
    border-radius: 6px;
    background: radial-gradient(circle, rgba(35, 0, 83, 0.877) 20%, rgba(17, 0, 37, 0.877) 89%);
    
}
.card-title-epica{
    padding-top: 20px;
    font-family: 'Acme', sans-serif;

}
.card-buy-epica{
    width: 100%;
    justify-content: space-around;

    background: linear-gradient(175deg, rgba(88, 0, 219, 0.432) 10%, rgba(116, 0, 170, 0.541) 97%) ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 2px  rgb(79, 41, 124);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.price-epica{
    font-family: 'Lilita One', cursive;
    color: rgb(240, 250, 184);
    font-size: 22px;
    font-weight: 400;

}
.cont-load{
    background-color: aqua;
    border-radius: 15px;
    text-align: center;
    padding: 10px 15px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    border: solid 1px rgb(110, 110, 110);
    -webkit-box-shadow: inset 0px 0px 51px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 51px 3px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 51px 3px rgba(0,0,0,0.75);
    background-color: rgba(29, 29, 29, 0.535);
    justify-content: center;
}
/* Unic */
.card-cont-unic{
    
    
    width: 250px;
    height: 300px;
    border: solid 2px  rgb(0, 238, 255);
    border-radius: 6px;
    background: radial-gradient(circle, rgba(2, 93, 197, 0.877) 20%, rgba(90, 3, 190, 0.877) 89%);
    
}
.card-title-unic{
    padding-top: 20px;
    font-family: 'Acme', sans-serif;

}
.card-buy-unic{
    width: 100%;
    justify-content: space-around;

    background: linear-gradient(175deg, rgba(88, 0, 219, 0.432) 10%, rgba(116, 0, 170, 0.541) 97%) ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 2px  rgb(97, 45, 160);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.price-unic{
    font-family: 'Lilita One', cursive;
    color: rgb(240, 250, 184);
    font-size: 22px;
    font-weight: 400;

}
/* about-us--------------------------------------------------------------------------------------------------------------------------------------*/
#about-us{
    margin-top: 50px;
    text-align: center;
    width: 90%;
    max-width: 1200px;
}
/* FOOTER---------------------------------------------------------------------------------------------------------------------------------------*/
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
.footer-cont{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 50px;
}
.footer-separador{
    height: 3px;
    width: 100%;
    max-width: 1200px;
    background: radial-gradient(circle, rgba(92, 92, 92, 0.877) 60%, rgba(1, 0, 7, 0.877) 99%);
}
.cont-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.cont-title>h2{
    padding-left: 20px;
    cursor: default;
}
.cont-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}
.redes{
    height: 40px;
    cursor: pointer;
}
.cont-info{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.cont-info>p{
    padding-left: 20px;
}
.cont-support{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding-right: 20px;    
}
.support{
    display: flex;
    align-items: flex-start;

    justify-content: center;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.terminos{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hiddent{
    visibility: hidden;
}
.active{
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(45, 44, 44);
    
}
.add-msg {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(65, 156, 153);
    border-radius: 20px;
    -webkit-box-shadow: inset 0px 0px 71px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 71px 3px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 71px 3px rgba(0,0,0,0.75);
    position: fixed;
    bottom: 0px;
    width: 30%;
    transition: all 0.5s;
    transform: translateY(200%);
  }
  
.active-msg {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}
.clear{
    background: rgb(84, 84, 84);
    color: #878787;
    cursor: not-allowed;
    border: none;
  }
  .dis{
    display: none;
  }
  #dis{
    display: none;
  }
  /* ----------------------------------------------------------------LOGIN------------------------------------------------------------------------ */

  .background-login{
    background-color: #000000;
    width: 100%;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  #header-login{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100px;
    padding-top: 100px;
    width: 100%;
  }
  #header-login>h1{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) ,
     0 0 20px #61eedd , 0 0 20px #080808 , 0 0 30px #61eedd , 0 0 100px #61eedd ;
     cursor: default;

  }
  #Login{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 
    padding-top: 40px;
  }
  .login-cont{
    height: 400px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    color: #080808;
  

  }
  .login-cont>h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #000000;    
    cursor: default;

  }
  .imput-cont{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
  }
  .imput-label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
    border: solid 1px black;
    border-radius: 8px;
  }

  input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: transparent;
    color: #000000;
    background-color: transparent;
  }
  label{
    color: #000000;
  }
  .error-login{
    color: #c85858;
    font-size: 20px;
    font-weight: 600;
  }
  .enter-btn{
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: #01a6a6;
    -webkit-box-shadow: inset 0px 0px 21px 1px rgba(255, 255, 255, 0.592);
    -moz-box-shadow: inset 0px 0px 21px 1px rgba(255, 255, 255, 0.592);
    box-shadow: inset 0px 0px 21px 1px rgba(255, 255, 255, 0.592);
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 1s;
  }
  .register-login{
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 500;
    padding-top: 12px;
    cursor: pointer;
  }
    /* ----------------------------------------------------------------REGISTER------------------------------------------------------------------------ */
    #register{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
     
        padding-top: 40px;
      }